hellorest/src/main/resource/guide.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/guide" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/guide" elementFormDefault="qualified">
    <xs:complexType name="guide">
        <xs:sequence>
	        <xs:element name="name" type="xs:string"></xs:element>
	        <xs:element name="level" type="xs:int"></xs:element>
	        <xs:element name="count" type="xs:int"></xs:element>
	        <xs:element name="flag" type="xs:string"></xs:element>
	        <xs:element name="description" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
</schema>